* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
}
.app {
    background-color: #6A6A6A;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container {
    width: 398px;
    height: 266px;
    background-color: #1F1F1F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .wrapper {
    min-width: 200px;
    width: 200px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .inputInputWrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  input[type="text"] {
    width: 54px;
    height: 23px;
    background-color: #6A6A6A;
    border-radius: 5px;
    color: #fff;
    border: none;
    text-align: center;
  }
  .inputRangeWrapper {
    position: relative;
    display: flex;
    max-width: 100%;
    max-height: 24px;
    align-items: center;
    gap: 0;
  }
  .inputRange {
    border: none;
    width: 100%;
    height: 12px;
    border-radius: 30px;
  }
  .inputRoundFirst, .inputRoundSecond {
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #fff;
  }
  